h2{
    color:white;
    /* background-color:rgb(241, 121, 9);; */
    margin:20px 400px 20px 400px;
    font-size:30px;
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(109, 14, 14);
}
.cards{
    width:100%;
    height:700px;
}
hr{
    background-color: black;
    color: grey;
    height: 2px;
    width:400px;
    margin:auto;
    margin-top: 80px;
}
.hostel{
    text-decoration: underline;
    text-align: center;
    margin-top: 60px;
    font-size:28px;
    color:rgb(4, 74, 77);
}
.clgdesc{
   font-family:Arial, Helvetica, sans-serif;
    padding:16px;
    font-size:20px;
    color:#706565;
}


@media (max-width:500px){
    h2{
        /* text-align:left; */
    }
}