@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Original+Surfer&family=Roboto&family=Zen+Dots&display=swap');
.contact-details{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    width:700px;
    height:400px;
    background-color: transparent;
    border:2px solid black;
    margin-left:350px;
    margin-top:100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heading{
    color:white;
    background-color:#7c2332;
    margin-top:10px;
    font-size:25px;
}
.contact{
    font-size:15px;
    padding:5px;
    color:black;
}
.contactHead{
    font-weight:bold;
    font-size:19px;
    color:black;
}


@media (max-width:1050px){
    .contact-details{
        width:500px;
        height:400px;
        margin:auto;
        margin-top:100px;
        margin-left:-200px;
    }
    .address{
        margin-left:100px;
    }
}

@media (max-width:980px){
    .contact-details{
        width:500px;
        height:400px;
        margin:auto;
        margin-top:100px;
        margin-left:200px;
    }
    .address{
        margin-left:100px;
    }
}
@media (max-width:730px){
    .contact-details{
        width:500px;
        height:400px;
        margin:auto;
        margin-top:100px;
    }
    .address{
        margin-left:100px;
    }
}

@media (max-width:500px) {
    .contact-details{
        width:350px;
        height:400px;
        margin:auto;
        margin-top:100px;
    }

    .address{
        margin-right:40px;
        margin-left:25px;
    }
}


