*{
    box-sizing:border-box;
    
}
.outer_div{
    height:1000px;
}
.container{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width:600px;
    height: 900px;
    background-color:white;
    margin-top:60px;
}
#fname,#lname,#dname,#mname,#address,#phone,#year,#seater{
    padding: 0px 15px;
    display:block;
    border:none;
    background-color: #ebe6e6;
    height:40px;
    width:550px;
    border-radius:5px;
    margin-right:30px;
    outline:none;
}
label{
    margin-left:10px;
    margin-top:8px;
    font-size:18px;
}

.address{
    margin-right:20px;
    position:relative;
}
.registerform{
    margin-top:-60px;
}
#submit{
    margin-left:230px;
    margin-top:30px;
    position:absolute;
    background-color: rgb(241, 121, 9);
    border-radius:15px;
    border:none;
    width:100px;
    height:30px;
    color:White;
}
input[type="radio"]{
    margin-left:15px;
}
.register{
        color:white;
        background-color:rgb(241, 121, 9);
        margin-top:10px;
        font-size:25px;
        text-align:center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
#submit:hover{
    background-color:rgb(170, 81, 4) ;
}


@media (max-width:900px){
    .container{
        width:500px;
    }
    #fname,#lname,#dname,#mname,#address,#phone,#year,#seater{
        width:400px;
    }
    #submit{
        margin-left:140px;
        margin-top:20px;
    }
}

@media (max-width:500px){
    .container{
        width:400px;
    }
    #fname,#lname,#dname,#mname,#address,#phone,#year,#seater{
        width:300px;
    }
    #submit{
        margin-left:100px;
        margin-top:20px;
    }
}